<nav class="navbar navbar-expand-lg navbar-dark glass-panel m-3 sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-gradient" href="index.html">
      <i class="fa-solid fa-code me-2"></i>Alexukk
    </a>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link px-3" href="index.html">
            <i class="fa-solid fa-house-chimney me-1"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="#current-project">
            <i class="fa-solid fa-microchip me-1"></i> Current Project
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="#contact">
            <i class="fa-solid fa-envelope me-1"></i> Contact
          </a>
        </li>
        <li class="nav-item ms-lg-2">
          <a class="nav-link btn-cyber-outline px-3" href="#donations">
            <i class="fa-solid fa-heart text-gradient me-1"></i> Support Me
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
